{% extends 'layout.html.twig' %}
{% block title %}
    {{ 'Prodaja autoprikolica, traktora.'|trans }} | prikolica.shop
{% endblock title %}
{% block metatags %}
    {{ parent() }}
    {#    <meta name="description" content="{{ metaData.pageMetaDescription }}"/>#}
    {#    <meta name="keywords" content="{{ metaData.pageMetaKeywords }}"/>#}
    <meta name="description" content="Distribucija i prodaja autoprikolica i traktora.">
    <meta name="keywords" content="autoprikolice, prikolice, traktori, prodaja, cena, trigano, arilje">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="{{ app.request.uri }}" />
{% endblock metatags %}

{% block content %}
    <!-- header  -->
    {% include 'include/header.html.twig' %}
    <!-- mobile fix menu -->
    {% include 'include/mobile_menu.html.twig' %}
    <!-- home slider -->
    {% include 'include/slider.html.twig' %}
    <!-- service section -->
    {% include 'include/service.html.twig' %}
    <!-- banner section -->
    <!-- product section start -->
    {% include 'include/products1.html.twig' %}
    <!-- product section end -->
    <!-- brand section start -->
    {% include 'include/brand.html.twig' %}
    <!-- brand section end -->
    <!-- footer start -->
    {% include 'include/footer.html.twig' %}
    <!-- footer end -->
    <!-- tap to top Section Start -->
    {% include 'include/top.html.twig' %}
    <!-- tap to top Section End -->
    <div class="bg-overlay"></div>
{% endblock content %}

{% block footerjavascript %}

{% endblock footerjavascript %}