{% extends 'base.html.twig' %}
{% block title %}
    {{ 'Admin - Prodaja autoprikolica, traktora.'|trans }} | prikolica.shop
{% endblock title %}
{% block metatags %}
    {{ parent() }}
    {#    <meta name="description" content="{{ metaData.pageMetaDescription }}"/>#}
    {#    <meta name="keywords" content="{{ metaData.pageMetaKeywords }}"/>#}
    <meta name="description" content="Distribucija i prodaja autoprikolica i traktora.">
    <meta name="keywords" content="autoprikolice, prikolice, traktori, prodaja, cena, trigano, arilje">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="{{ app.request.uri }}" />
{% endblock metatags %}

{% block content %}
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper dark-sidebar" id="pageWrapper">
        <!-- Page Header Start-->
        {% include 'admin/admin_include/header.html.twig' %}
        <!-- Page Header Ends-->
        <!-- Page Body Start-->
        <div class="page-body-wrapper">
            <!-- Page Sidebar Start-->
            {% include 'admin/admin_include/navigation.html.twig' %}
            <!-- Page Sidebar Ends-->
            <!-- index body start -->
            <div class="page-body">
                {% include 'admin/admin_include/content.html.twig' %}
                <!-- Container-fluid Ends-->

                {% include 'admin/admin_include/footer.html.twig' %}

            </div>
            <!-- index body end -->
        </div>
        <!-- Page Body End -->
    </div>
    <!-- page-wrapper End-->

    <!-- Modal Start -->
    {% include 'admin/admin_include/logout.html.twig' %}
    <!-- Modal End -->
{% endblock content %}

{% block footerjavascript %}
{#<script>#}
{#    $(document).ready(function () {#}
{#        $('#example').DataTable();#}
{#    });#}
{#</script>#}
{% endblock footerjavascript %}
