{% extends 'base.html.twig' %}
{% block title %}
    {{ 'Admin | Porudžbine - Prodaja autoprikolica, traktora.'|trans }} | prikolica.shop
{% endblock title %}
{% block metatags %}
    {{ parent() }}
    {#    <meta name="description" content="{{ metaData.pageMetaDescription }}"/>#}
    {#    <meta name="keywords" content="{{ metaData.pageMetaKeywords }}"/>#}
    <meta name="description" content="Distribucija i prodaja autoprikolica i traktora.">
    <meta name="keywords" content="autoprikolice, prikolice, traktori, prodaja, cena, trigano, arilje">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="{{ app.request.uri }}" />
{% endblock metatags %}

{% block content %}
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper dark-sidebar" id="pageWrapper">
        <!-- Page Header Start-->
        {% include 'admin/admin_include/header.html.twig' %}
        <!-- Page Header Ends-->
        <!-- Page Body Start-->
        <div class="page-body-wrapper">
            <!-- Page Sidebar Start-->
            {% include 'admin/admin_include/navigation.html.twig' %}
            <!-- Page Sidebar Ends-->
            <!-- index body start -->
            <div class="page-body">
                <div class="title-header title-header-block package-card">
                    <div>
                        <h5>Porudžbina #{{ order.id }}</h5>
                    </div>
                    <div class="card-order-section">
                        <ul>
                            <li>{{ order.dateAdded | date("d.m.Y") }}</li>
                            <li>Ukupna cena {{ (order.totalPrice | round) | number_format(2, '.', ',') }}</li>
                            <li>Ukupna cena sa PDV-om {{ (order.totalPricePdv | round) | number_format(2, '.', ',') }}</li>
                        </ul>
                    </div>
                </div>

                <!-- tracking table start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="bg-inner cart-section order-details-table">
                                        <div class="row g-4">
                                            <div class="col-xl-8">
                                                <div class="table-responsive table-details">
                                                    <table class="table cart-table table-borderless">
                                                        <thead>
                                                        <tr>
                                                            <th colspan="2">Proizvodi</th>
                                                            <th class="text-end" colspan="2">
                                                                <form action="{{ path('app_admin_change_status', {id: order.id}) }}" method="post">
                                                                        <select class="js-example-basic-single w-30" name="status">
                                                                                {% if order.orderStatus == 1 %}
                                                                                    <option value="1" selected>Kreirana</option>
                                                                                    <option value="2">Poslata</option>
                                                                                    <option value="3">Otkazana</option>
                                                                                {% elseif  order.orderStatus == 2%}
                                                                                    <option value="1">Kreirana</option>
                                                                                    <option value="2" selected>Poslata</option>
                                                                                    <option value="3">Otkazana</option>
                                                                                {% else %}
                                                                                    <option value="1">Kreirana</option>
                                                                                    <option value="2">Poslata</option>
                                                                                    <option value="3" selected>Otkazana</option>
                                                                                {% endif %}
                                                                        </select>
                                                                    <button type="submit" class="btn btn-primary">Izmeni</button>
                                                                </form>
                                                            </th>
                                                        </tr>
                                                        </thead>

                                                        <tbody>
                                                        {% for product in orderProducts %}
                                                        <tr class="table-order">
                                                            <td>
                                                                <a href="javascript:void(0)">
                                                                    {% if product.proizvod.slikaMain is null %}
                                                                        <img src="{{ asset('assets/images/products/no-image.jpg') }}" class="img-fluid blur-up lazyload" alt="">
                                                                    {% else %}
                                                                        <img src="{{ asset(product.proizvod.getSlikaMain()) }}" class="img-fluid blur-up lazyload" alt="">
                                                                    {% endif %}
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <p>Proizvod</p>
                                                                <h5>{{ product.productName }}</h5>
                                                            </td>
                                                            <td>
                                                                <p>Količina</p>
                                                                <h5>{{ product.quantity }}</h5>
                                                            </td>
                                                            <td>
                                                                <p>Cena</p>
                                                                <h5>{{ (product.price | round) | number_format(2, '.', ',') }}</h5>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                        </tbody>

                                                        <tfoot>
                                                        <tr class="table-order">
                                                            <td colspan="3">
                                                                <h5>Ukupna cena :</h5>
                                                            </td>
                                                            <td>
                                                                <h4>{{ (order.totalPrice | round) | number_format(2, '.', ',') }}</h4>
                                                            </td>
                                                        </tr>


                                                        <tr class="table-order">
                                                            <td colspan="3">
                                                                <h5>PDV :</h5>
                                                            </td>
                                                            <td>
                                                                <h4>{{ ((order.totalPricePdv - order.totalPrice) | round) | number_format(2, '.', ',') }}</h4>
                                                            </td>
                                                        </tr>

                                                        <tr class="table-order">
                                                            <td colspan="3">
                                                                <h4 class="theme-color fw-bold">UKUPNO sa PDV :</h4>
                                                            </td>
                                                            <td>
                                                                <h4 class="theme-color fw-bold">{{ (order.totalPricePdv | round) | number_format(2, '.', ',') }}</h4>
                                                            </td>
                                                        </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>

                                            <div class="col-xl-4">
                                                <div class="order-success">
                                                    <div class="row g-4">
                                                        <h4>Pregled porudžbine</h4>
                                                        <ul class="order-details">
                                                            <li>ID: {{ order.id  }}</li>
                                                            <li>Datum: {{ order.dateAdded | date("d.m.Y") }}</li>
                                                            <li>Ukupna cena: {{ (order.totalPrice | round) | number_format(2, '.', ',') }}</li>
                                                            <li>Ukupna cena sa PDV-om: {{ (order.totalPricePdv | round) | number_format(2, '.', ',') }}</li>
                                                        </ul>

                                                        <h4>Adresa za dostavu</h4>
                                                        <ul class="order-details">
                                                            <li>{{ order.imePrimaoca }} {{ order.prezimePrimaoca }}</li>
                                                            <li>{{ order.adresaPrimaoca }}</li>
                                                            <li>{{ order.gradPrimaoca }}, {{ order.pttPrimaoca }}</li>
                                                            <li>Tel: {{ order.telefonPrimaoca }}</li>
                                                        </ul>

                                                        <div class="col-12">
                                                            <div class="payment-mode">
                                                                <h4>Način plaćanja</h4>
                                                                <p>
                                                                    {% if order.nacinPlacanja == 1 %}
                                                                        Pouzeće
                                                                    {% elseif order.nacinPlacanja == 2 %}
                                                                        Čekovi
                                                                    {% elseif order.nacinPlacanja == 3 %}
                                                                        Kartica
                                                                    {% else  %}
                                                                        Uplata na račun
                                                                    {% endif %}
                                                                </p>
                                                            </div>
                                                        </div>


                                                            <div class="delivery-sec">
                                                                <h3>Rok dostave: <span>2 radna dana</span></h3>
                                                            </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- section end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tracking table end -->
                <!-- footer start-->
                {% include 'admin/admin_include/footer.html.twig' %}
                <!-- footer End-->
            </div>
            <!-- index body end -->
        </div>
        <!-- Page Body End -->
    </div>
    <!-- page-wrapper End-->

    <!-- Modal Start -->
    {% include 'admin/admin_include/logout.html.twig' %}
    <!-- Modal End -->
{% endblock content %}

{% block footerjavascript %}
    {#<script>#}
    {#    $(document).ready(function () {#}
    {#        $('#example').DataTable();#}
    {#    });#}
    {#</script>#}
{% endblock footerjavascript %}
