{% extends 'layout.html.twig' %}
{% block title %}
    {{ 'Firma - Prodaja autoprikolica, traktora.'|trans }} | prikolica.shop
{% endblock title %}
{% block metatags %}
    {{ parent() }}
    {#    <meta name="description" content="{{ metaData.pageMetaDescription }}"/>#}
    {#    <meta name="keywords" content="{{ metaData.pageMetaKeywords }}"/>#}
    <meta name="description" content="Distribucija i prodaja autoprikolica i traktora.">
    <meta name="keywords" content="autoprikolice, prikolice, traktori, prodaja, cena, trigano, arilje">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="{{ app.request.uri }}" />
{% endblock metatags %}

{% block content %}
    <!-- header  -->
    {% include 'include/header.html.twig' %}
    <!-- mobile fix menu -->
    {% include 'include/mobile_menu.html.twig' %}
    <section class="breadcrumb-section section-b-space">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>Firma</h3>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{{ path('pocetna') }}">
                                    <i class="fas fa-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Izmena lozinke</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- user dashboard section start -->
    <section class="section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="dash">
                            <div class="dashboard-right">
                                <div class="dashboard">
                                    {{ form_start(resetForm) }}
                                    <div class="page-title title title1 title-effect">
                                        <h2>Izmenite Vašu lozinku</h2>
                                    </div>
{#                                    <div class="welcome-msg">#}
{#                                        {% if form_errors(resetForm.password.first) or form_errors(resetForm.password.second) %}#}
{#                                            <div class="alert alert-danger" role="alert">#}
{#                                                {{ form_errors(resetForm.password.first) }}#}
{#                                                {{ form_errors(resetForm.password.second) }}#}
{#                                            </div>#}
{#                                        {% endif %}#}
{#                                    </div>#}
                                    <div class="order-box-contain my-4">
                                        <div class="row g-4">
                                            <div class="col-lg-12 col-sm-12">
                                                <div class="order-box">
                                                    <div class="mb-3">
                                                        <label for="name" class="form-label font-light">Unesite novu lozinku</label>
                                                        {{ form_widget(resetForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="name" class="form-label font-light">Ponovite lozinku</label>
                                                        {{ form_widget(resetForm.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                    <div class="d-block">
                                                        <a href="{{ path('app_firma') }}" type="button" class="btn bg-secondary text-white rounded-1 modal-close-button">Odustanite</a>
                                                        <button type="submit" class="btn btn-solid-default rounded-1">Sačuvajte</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_end(resetForm) }}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- user dashboard section end -->

    <!-- Subscribe Section Start -->
    {% include 'include/subscribe.html.twig' %}
    <!-- Subscribe Section End -->
    <!-- footer start -->
    {% include 'include/footer.html.twig' %}
    <!-- footer end -->

    <!-- Newsletter modal start -->
    {#    {% include 'include/newsletter.html.twig' %}#}
    <!-- Newsletter modal end -->

    <!-- Coockie Section Start -->
    {#    {% include 'include/cookie.html.twig' %}#}
    <!-- Coockie Section End -->


    <!-- tap to top Section Start -->
    {% include 'include/top.html.twig' %}
    <!-- tap to top Section End -->

    <div class="bg-overlay"></div>
{% endblock content %}

{% block footerjavascript %}

{% endblock footerjavascript %}